.footer_container{

  background-color: #061b69;
  padding: 25px;
  .link_my{
    width: 270px;
    text-align: center;
    color: white;
    font-size: 14px;
    margin: 0 auto;
    a{
      color: white;
      margin-left: 8px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}